<section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_01.png" alt="">
                        </div>
                        <h4>Age</h4>
                        <div class="line-dec"></div>
                        <p>I'm 19 years old and was born on January 5, 2002. Aluva, Kerala is where I was born. However, I spent the majority of my childhood in Qatar.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_02.png" alt="">
                        </div>
                        <h4>Interests and Passions</h4>
                        <div class="line-dec"></div>
                        <p> I enjoy both reading and writing. Music, movies, cooking, travelling, and typing are some of my other interests.</p>
                        <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_03.png" alt="">
                        </div>
                        <h4>Education</h4>
                        <div class="line-dec"></div>
                        <p> I finished my school education at M.E.S Indian School in Doha, Qatar. I am a professional student at KMEA Engineering College in Kerala.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_04.png" alt="">
                        </div>
                        <h4>Hard Skills</h4>
                        <div class="line-dec"></div>
                        <p> Java, HTML, MySQL, Photoshop, Typing, MS office.</p>
                        <div class="primary-blue-button">
                            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
