  <section id="testimonial">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Stop tasting the past...rather pursue for tomorrow and yearn for overmorrow and days to be followed. ”</p>
                                <h4>Safa Fyrose</h4>
                                <span>My Quotes</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Beware of those times when you turn down other people's call twice...a day will come when the tables are turned and times are desperate for you. ”</p>
                                <h4>Safa Fyrose</h4>
                                <span>My Quotes</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ At times, I pause in perplexity when there's a conflict with my inner soul asking whom should we please...please others or please myself? Trying to please everyone is a recipe for distrous as we're not everyone's cup of tea and no matter how much we add sugar, it still goes down the drain,but if we try to please ourselves, insults are thrown in our way saying she's a shrew. So whom should we please?! ”</p>
                                <h4>Safa Fyrose</h4>
                                <span>My Quotes</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <p>“ Sometimes it only takes one person to change your life, a few seconds to fall in love and one day to lose everything. ”</p>
                                <h4>Safa Fyrose</h4>
                                <span>My novel</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>